.login-container {
  align-items: center;
  background: rgb(253,254,254);
  background: radial-gradient(circle, rgba(253,254,254,1) 0%, rgba(182,188,194,1) 100%);nd: radial-gradient(circle, rgba(253,254,254,1) 0%, rgba(206,212,218,1) 100%);ground: radial-gradient(circle, rgba(253,254,254,1) 21%, rgba(206,212,218,1) 100%);
  display: flex;
  flex-wrap: wrap;
  height: 880px;
  justify-content: center;
  width: 100%;
}

