html {
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body, .root {
  background: #ced4da;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  align-items: center;
  background: #ced4da;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}

.link-login {
  cursor: pointer;
  margin-top: 50px;
}

#logo {
  aspect-ratio: 1 / 1;
  width: 200px;
}

#wallet {
  aspect-ratio: 1 / 1;
  width: 100px;
}

.container-logo {
  display: flex;
  margin-left: 100px;
}

.container-header {
  align-items: center;
  background-color: #8DD070;
  border-left: 2px solid #000000;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 35%;
}

.container-header p {
  font-weight: 700;
  color: #000000;
}

.container-email {
  display: flex;
  margin-right: 80px;
}

#expense-total, #email-header {
  color: #fdfffc;
  font-weight: 700;
  height: 100%;
}

#email-header {
  margin-right: 10px;
}

.form-expense, .table-expenses {
  display: flex;
  justify-content: center;
  height: 100%;
}

.form-expense {
  align-items: center;
  background: #8DD070;
  border-left: 2px solid #000000;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  width: 35%;
}

.table-expenses {
  background: black;
  border-top: 2px solid #ced4da;
  color: #ced4da;
  padding-top: 30px;
  width: 65%;
}

table {
  width: 95%;
  font-weight: 700;
}

thead {
  border: 2px solid black;
}

tbody {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

tr {
  align-items: center;
  border-bottom: 2px solid lightgray;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

td, th {
  text-align: center;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 10%;
}

td button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40%;
}

button img {
  aspect-ratio: 1 / 1;
  width: 70%;
}

th {
  color: #8DD070;
}

label {
  align-items: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  width: 55%;
}

input, select {
  border-radius: 30px;
  border: 2px double black;
  font-weight: 700;
  height: 30px;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}

input::placeholder {
  font-weight: 700;
}

select {
  background-color: white;
  font-weight: 700;
  width: 70%;
}

section { 
  width: 100%;
}

.login-container {
  align-items: center;
  background: radial-gradient(circle, rgba(253,254,254,1) 0%, rgba(182,188,194,1) 100%);
  display: flex;
  flex-wrap: wrap;
  height: 880px;
  justify-content: center;
  width: 100%;
}

